html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.column-18 {
    width: 1500px;
    max-width: 71.25vw;
}

#mainDiv {
    height: 100vh;
    width: 86%;
}